<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ProjectWizard.category.ML"
            name="Machine Learning">
      </category>
      <wizard
            category="ProjectWizard.category.ML"
            class="projectwizard.MyWizard"
            icon="bin/icons/ML.png"
            id="ProjectWizard.wizard.ML"
            name="Machine Learning Project">
      </wizard>
   </extension>

</plugin>
