<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	     point="org.eclipse.ui.menus">
	  <menuContribution
	        locationURI="menu:org.eclipse.ui.main.menu?after=window">
	     <menu
	           label="Machine Learning">
	        <command
	              commandId="MLmenu.command"
	              label="Let the Configuration available for BPMN"
	              style="push"
	              tooltip="My Command Tooltip">
	        </command>
	       	<command
	              commandId="MLmenu.ConnectDataBase"
	              label="Connect to the data base"
	              style="push"
	              tooltip="My Command Tooltip">
	        </command>
	     </menu>
	  </menuContribution>
	</extension>
	
	<extension
	     point="org.eclipse.ui.commands">
	  <command
	        id="MLmenu.command"
	        name="Let the Configuration available for BPMN">
	  </command>
	  <command
	        id="MLmenu.ConnectDataBase"
	        name="Connect to the data base">
	  </command>
	</extension>


	<extension
	     point="org.eclipse.ui.handlers">
	  <handler
	        class="MyCommandHandler"
	        commandId="MLmenu.command">
	  </handler>
	   <handler
	        class="ConnectToTheDataBaseHandler"
	        commandId="MLmenu.ConnectDataBase">
	  </handler>
	</extension>

</plugin>
