<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
       
    <extension point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
        
        <file filePath="viewmodels/MissingValueTreatement.view"/>
        
        <file filePath="viewmodels/NoiseTreatement.view"/>
        
        <file filePath="viewmodels/Conversion.view"/>
        
        <file filePath="viewmodels/RemoveUncessaryFileds.view"/>
        
        <file filePath="viewmodels/Deployement.view"/>
        
        <file filePath="viewmodels/PostTreatement.view"/>
        
        <file filePath="viewmodels/FeatureConstruction.view"/>
        
        <file filePath="viewmodels/FeatureSelection.view"/>
        
        <file filePath="viewmodels/DataPretraitement.view"/>
        
        <file filePath="viewmodels/DataCleaning.view"/>
        
        <file filePath="viewmodels/Component.view"/>
        
        <file filePath="viewmodels/connector.view"/>
        
        <file filePath="viewmodels/Term.view"/>
        
        <file filePath="viewmodels/variable.view"/>
        
        <file filePath="viewmodels/Resultat.view"/>
        
        <file filePath="viewmodels/Condition.view"/>
        
        <file filePath="viewmodels/Rule.view"/>
        
        <file filePath="viewmodels/CollectedDataKnowledgeAboutTemplateConstruction.view"/>
        
        <file filePath="viewmodels/Accuracy.view"/>
        
        <file filePath="viewmodels/Explainability.view"/>
        
        <file filePath="viewmodels/ExtendedBPMNModel.view"/>
        
        <file filePath="viewmodels/SelectionCriterion.view"/>
        
        <file filePath="viewmodels/SelectionCriterionValue.view"/>
        
        <file filePath="viewmodels/SelectionCriterionValueSet.view"/>
        
        <file filePath="viewmodels/MLAlgorithm.view"/>
        
        <file filePath="viewmodels/MLAlgorithmSolutionPattern.view"/>
        
        <file filePath="viewmodels/ProcessingChainTemplate.view"/>
        
        <file filePath="viewmodels/MLProcChainSolutionPattern.view"/>
        
        <file filePath="viewmodels/ProcessingChain.view"/>
        
        <file filePath="viewmodels/DataAnalysisProblemType.view"/>
        
        <file filePath="viewmodels/DataPropertyType.view"/>
        
        <file filePath="viewmodels/DataPropertyValue.view"/>
        
        <file filePath="viewmodels/DataPropertyValueSet.view"/>
        
        <file filePath="viewmodels/ModelElement.view"/>
        
        <file filePath="viewmodels/RequirementMapping.view"/>
        
        <file filePath="viewmodels/Data.view"/>
        
        <file filePath="viewmodels/Schema.view"/>
        
        <file filePath="viewmodels/Database.view"/>
        
        <file filePath="viewmodels/ComputationalRequirementValue.view"/>
        
        <file filePath="viewmodels/DataAnalysisProblem.view"/>
        
        <file filePath="viewmodels/MLProject.view"/>
        
        <file filePath="viewmodels/RequirementType.view"/>
        
        <file filePath="viewmodels/DomainRequirementValue.view"/>
        
        <file filePath="viewmodels/DomainProblem.view"/>
           
    </extension>
    
    <extension point="org.eclipse.emf.ecp.view.template">
        <viewTemplate xmi="viewmodels/ExtendedBPMN.template"/>
    </extension>
</plugin>
