<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated projetTemplate -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="projetTemplate.presentation.ProjetTemplateModelWizardID"
            name="%_UI_ProjetTemplateModelWizard_label"
            class="projetTemplate.presentation.ProjetTemplateModelWizard"
            category="ProjectWizard.category.ML"
            icon="icons/full/configurationIcon.png">
         <description>%_UI_ProjetTemplateModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!--@generated projetTemplate 
      You can allow this editor also, in this case, the open with precise which one we will use. -->
      <editor
            id="projetTemplate.presentation.ProjetTemplateEditorID"
            name="%_UI_ProjetTemplateEditor_label"
            icon="icons/full/obj16/ProjetTemplateModelFile.gif"
            extensions="projettemplate"
            class="projetTemplate.presentation.ProjetTemplateEditor"
            contributorClass="projetTemplate.presentation.ProjetTemplateActionBarContributor">
      </editor>
      
	<editor
		class="org.eclipse.emfforms.spi.editor.GenericEditor" 
		default="true" 
		extensions="task" 
		icon="icons/full/configurationIcon.png" 
		id="projetTemplate.presentation.ProjetTemplateEditor.ML" 
		name="Machine Learning Configuration Editor"> 
	</editor>
       
    </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated projetTemplate -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="genmodel.presentation.GenmodelModelWizardID"
            name="%_UI_GenmodelModelWizard_label"
            class="genmodel.presentation.GenmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GenmodelModelFile.gif">
         <description>%_UI_GenmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated projetTemplate -->
      <editor
            id="genmodel.presentation.GenmodelEditorID"
            name="%_UI_GenmodelEditor_label"
            icon="icons/full/obj16/GenmodelModelFile.gif"
            extensions="genmodel"
            class="genmodel.presentation.GenmodelEditor"
            contributorClass="genmodel.presentation.GenmodelActionBarContributor">
      </editor>
   </extension>
 </plugin>
